{% if categories %}
<div class="container-fluid purecolor">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
      <nav id="menu" class="navbar">
        <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="height: 60px!important;">
          <ul class="nav navbar-nav" style="width: 100%">
            <li class="dropdown" style="width: 100%">
              <a href="#" style="text-transform: uppercase; font-size: 14px; font-weight: 700; padding: 20px; background: #c92783" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-navicon" style="padding-right: 10px;"></i>Каталог товаров <b class="caret"></b></a>
              <ul class="dropdown-menu" id="menu1" style="width: 100%">
                  {% for category in categories %}
                  {% if category.children %}
                <li>
                    <a href="{{ category.href }}">{{ category.name }}<i class="icon-arrow-right"></i></a>
                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    <ul class="dropdown-menu sub-menu">
                        {% for child in children %}
                        <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </li>
                {% else %}
                <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
<!--           <ul class="nav navbar-nav">
            {% for category in categories %}
            {% if category.children %}
            <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                  <ul class="list-unstyled">
                    {% for child in children %}
                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endfor %}</div>
                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
            </li>
            {% else %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul> -->
        </ul>
        </div>
      </nav>
        </div>
        <div class="col-sm-6">
         <ul class="nav navbar-nav rest-link">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="nav navbar-nav phone-link">
            <li>
          <a href="{{ contact }}"><i class="fa fa-phone"></i> +998 (93) 999-99-99</a>
          </li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</div>
{% endif %} 